
/* FIXME: this code needs clean up and remove useless bits.
remember .CLASS #ID
TODO: config must be scroll on overflow. */

body {
	background: #6199E9;
	color: black;
	font-family: "Palatino", helvetica;
	font-size: 10pt;
	overflow: hidden;
	margin: 0 0 0 0;
}

h2 {
	margin: 5px 0 8px 0;
	/* vertical-align:center; */
}

.plain {
	white-space: pre;
	font-family: monospace;
}

#gear {
	opacity: 0.6;
	float: right;
	margin: 0px 0px 0px 5px;
}
#gear:hover{
	opacity: 1;
}

#config {
  display: none;
  background: #f1f1f1;
  overflow: scroll;
  border: 1px solid gray;
  position: absolute;
  z-index: 1000;
  padding: 5px 5px;
  text-align: left;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
}

/* hr {
	border: 0;
   height: 1px;
   background: #333;
} */

/* http://css-tricks.com/examples/hrs/ */
.type_hr {
	background: #f1c661;
	border: 0;
	height: 2px;
}

.underline_error {
	position: absolute;
	margin: -2px 0 0 0px;
	border-bottom: 2px solid red;
}

select {
	width: 100%;
	/* margin: 5px 0 0px 0;
	padding: 5px 5px 5px 5px; */
}


.exbuttong{
	width: 45px;
	margin: 1px 0 1px 0;
	background-color: #dcdcdc;
	border: 1px solid #dcdcdc;
	color: #000;
	text-decoration: none;
	padding: 2px 2px;
	border-radius: 3px;
}

.exbuttong:hover {
	background-color: #cccccc;
	font-weight: bold;
	border: 2px solid #666;
	padding: 1px 1px;
}

.action{
	/* margin: 0 25px 0 10px; */
}


#info {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	/* overflow: scroll; */
	position: absolute;
	top: 0px;
	height: 100%;
	padding: 5px 5px;
	border-bottom: 1px solid black;
	vertical-align:bottom;
}

#cursor-position{
	float: right;
	font-family: monospace;
	font-weight: bold;
	vertical-align:bottom;
	/* remember to match exbuttong: */
	padding: 2px 2px;
	margin: 1px 0 1px 0;
}

.status{
	float: left;
	font-weight: bold;
	vertical-align:bottom;
	/* remember to match exbuttong: */
	padding: 2px 2px;
	margin: 1px 2px 1px 2px;
}

.ok_status {
	color: #0E5803;
}

.ok_status::before{
	content: '✓ ' ;
}

.error_status {
	color: #C4061F;
}

.error_status::before{
	content: '✘ ' ;
}

#editor {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	position: absolute;
	top: 0px;
	/*
	padding-top: 20px;
	border-left-color: gray;
	border-left-style: solid; */
	display: block;
}


#output {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	opacity: 0.7;
	font-family: monospace;
	font-size: 10pt;
	background: #EEEEEE;
	position: absolute;
	overflow: scroll;
	white-space: pre-wrap;
	padding: 5px 5px;
	/* display:block;
	/*border-top-color: gray;
	border-top-style: solid;
	border-top-width: 1px;*/
	z-index: 10000; /* is this enough? */
}

#output:hover{
	opacity: 1;
}

#statusbar{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	position: absolute;
	border-top: 1px solid #6e6e6e;
	background-color: #dcdcdc;
	/* border-style: solid;
	border-color: gray; */
	font-size: 9pt;
	font-family: sans-serif;
	/* z-index: 10000; */
}

#typing{
	display:none; /* initially invisible */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	border: 2px solid #f1c661;
	/* margin: 2px 2px; */
	padding: 5px 10px;
	position: absolute;
	z-index: 10000; /* is this enough? */
	/* -webkit-filter: blur(3px); */
   /* background: #ffe580; */
   /* box-shadow: 2px 2px 2px #888888; */
	border-radius: 5px;
	background: #fde570;
	/* background: -webkit-linear-gradient(left, #fde570, #ffe580); */
	font-family: monospace;
   font-size: 10pt;
   color: black;
   /* opacity: 0.95; */
   overflow:scroll;
}

.typing_tmp{
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
}

.typing_style{
	white-space: pre-wrap;
   word-wrap: break-word;
}

.bad {
	font-weight: bold;
	color: #C4061F;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:hover {
	/* text-decoration: underline; */
	color: #000099;
}
a:visited {
}

/* ----- */



.title {
	font-weight: bold;
	font-size: 16pt;
}

#examples {
	/* margin: 0px 0px 0px 15px ; */
	float: right;
	display:table;
}

.b1_load {
	background: rgba(255,255,255,0.3) url('../lib/ajax-loader.gif') no-repeat center center;
	color: gray;
}

.b1 {
	/* width: 100%; */
	display: table-cell;
	vertical-align: middle;
	color: black;
	text-decoration: none;
	font-family: monospace;

	margin: 1px 1px 1px 1px;
	padding: 5px 7px 5px 7px;

}

.b1:hover {
	background-color: rgba(255,255,255,0.3);
	font-weight: bold;
	border: 2px solid rgba(255,255,255,0.2);
	margin: 0;
	padding: 3px 5px 3px 5px;
	border-radius: 5px;
}

.footnote {
	font-size: 8pt;
	text-align: justify;
}


/* Style for Output Console */
.type_location {
	color: blue;
}

.type_fun {
	/* font-size: 12pt; //TODO multimap symbol is messed up */
}

.typing_conformance tr:hover {
	background-color:#d4f161;
}
.typing_conformance, tr, td {
	border-collapse:collapse;
	border:1px solid #f1a261;
	padding: 3px;
	text-align: center;
}
.typing_conformance th {
	background-color:#f1c661;
}

.type_variable{
	color: green;
}

.type_definition{
	/* font-weight: bold; */
	text-decoration:underline;
	font-style: italic,underline;
}

.type_tag{
	color: #FF6633;
	font-weight: bold;
}

.type_name{
	color: #8B0000;
}

.type_field{
	color: purple;
}



.chrome_show{
	font-size: 8pt;
	text-align: center;
	border: 2px solid #FF0000;
	background: #EE5757;
	border-radius: 5px;
	padding: 2px;
	margin: 5px;
}

.chrome_hide{
	display:none;
}
